@using PagedList
@using PagedList.Mvc;
@model PagedList<MebeliGergana.Models.ViewModels.IzdeliqViewModel>

@{
    ViewBag.Title = "Detsci";
}

<h2 class="text-center">Комплекти за детска стая</h2>

@Html.Partial("_Izdeliq")

