@using PagedList
@using PagedList.Mvc;
@model PagedList<MebeliGergana.Models.ViewModels.IzdeliqViewModel>
@{
    ViewBag.Title = "Masi";
}

<h2 class="text-center">Маси</h2>

@Html.Partial("_Izdeliq")

