@using PagedList
@using PagedList.Mvc;
@model PagedList<MebeliGergana.Models.ViewModels.IzdeliqViewModel>

@{
    ViewBag.Title = "Portmanta";
}

<h2 class="text-center">Портманта</h2>

@Html.Partial("_Izdeliq")

