@using PagedList
@using PagedList.Mvc;
@model PagedList<MebeliGergana.Models.ViewModels.IzdeliqViewModel>
@{
    ViewBag.Title = "Sekcii";
}

<h2 class="text-center">Секции</h2>
@Html.Partial("_Izdeliq");

